<% posts.forEach(function(post) { %>
    <li class="lite-item">
        <article class="post post-type">
            <header class="post-type-header">
                <div class="post-relative">
                    <img alt="<%= themeConfig.siteName %>" src="<%= themeConfig.domain %>/images/avatar.png" srcset="<%= themeConfig.domain %>/images/avatar.png" class="avatar avatar-100 photo" width="100" height="100">
                    <span class="post-type-author">
                  <%= themeConfig.siteName %>
                  <i class="card card-certify"></i><span class="publish-time"> - <i class="fa fa-calendar"
                          aria-hidden="true"></i> <%= post.dateFormat %></span>
                    </span>
                    <h3 class="post-type-title">
                        <a href="<%= post.link %>" rel="bookmark" title="<%= post.title %>">
                            <%= post.title %>
                        </a>
                    </h3>
                </div>
            </header>
            <div class="post-main post-type-main">
                <div class="post-content">
                    <div class="post-tag"></div>
                    <div class="post-excerpt">
                        <%- post.searchedPreview %>
                    </div>
                    <div class="post-category">
                        <% if (post.tags.length > 0) { %>
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <% post.tags.forEach(function(tag, index) { %>
                                <a href="<%= tag.link %>" rel="category">
                                    <%= tag.name %>
                                        <% if (index !== post.tags.length - 1) { %>
                                            ,
                                            <% } %>
                                </a>
                                <% }); %>
                                    <% } %>
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <span id="span_btn" style="text-align: center;" onclick="javascript:top.location='<%= post.link %>'">
                  <i class="card card-more-o"></i> &#x9605;&#x8BFB;
              </span>
                <span id="span_btn" style="text-align: center;" onclick="javascript:window.open('https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=<%= post.link %>')">
                  <i class=" card card-share "></i> &#x4E8C;&#x7EF4;&#x7801;&#x5206;&#x4EAB;
              </span>
            </div>
        </article>
    </li>
    <% }); %>